.submit_btn {
  width: 100%;
}

#destinations_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: center;
  width: 80%;
  margin-top: 20px;
}

#title {
  text-align: center;
  margin-top: 20px;
}

#top {
  background-color: #e9ecef;
  width: 100%;
  padding: 60px 0;
  box-sizing: border-box;
}

#top h1 {
  color: #212529;
}

.buttons_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: 300;
  font-family: system-ui;
  color: rgb(33, 37, 41);
  line-height: 20px;
}

#destinationForm .form-group label,
#destinationForm .form-group input,
#destinationForm .form-group textarea {
  text-align: left;
}

#destinationForm .form-group {
  text-align: left;
}

#destinationForm .form-control {
  text-align: left;
}
